@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

@font-face {
  font-family: "Castellar";
  src: url("../fonts/Castellar.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
